#### Load dataset (student protugese scores)

In [1]:
import pandas as pd
data = pd.read_csv('student-por.csv',sep=';')
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [4]:
# generate binary label for (pass/fail) based on G1+g2+g3( test-grade, each 0-20pts)threshold for passing is sum=>35
data['pass']= data.apply(lambda row: 1 if(row['G1']+row['G2']+row['G3'])>= 35 else 0, axis=1)
data = data.drop(['G1','G2','G3'], axis=1)
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,pass
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,4,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,2,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,6,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,0,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,0,1

In [5]:
# ONE-HOT ENCODING  ausin get_dummies feature
data = pd.get_dummies(data, columns=['sex','school','address','famsize','Pstatus','Mjob','Fjob','reason',
                            'guardian','schoolsup','famsup','paid','activities',
                                     'nursery','higher','internet','romantic'])
data.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,0,1,0,1,1,0,1,0
1,17,1,1,1,2,0,5,3,3,1,...,1,0,1,0,0,1,0,1,1,0
2,15,1,1,1,2,0,4,3,2,2,...,1,0,0,1,0,1,0,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,0,1,0,1,0,1,0,1,0,1
4,16,3,3,1,2,0,4,3,2,1,...,1,0,0,1,0,1,1,0,1,0

In [10]:
# shuffle data
data = data.sample(frac=1)

#train set and test set
d_train = data[:500]
d_test = data[500:]

# train target pass and fail df
d_train_fail = d_train.drop(['pass'], axis=1)
d_train_pass = d_train['pass']

# test target pass and fail df
d_test_fail = d_test.drop(['pass'], axis=1)
d_test_pass = d_test['pass']

# data target pass and fail df
data_fail = data.drop(['pass'], axis=1)
data_pass = data['pass']

import numpy as np
print(f'Passing: {np.sum(data_pass)} out of {len(data)} {round(100*float(np.sum(data_pass))/len(data_pass),2)}')

Passing: 328 out of 649 50.54

In [16]:
# fit a decision tree using scikit-learn
from sklearn import tree
t = tree.DecisionTreeClassifier(criterion='entropy', max_depth=5)
t = t.fit(d_train_fail, d_train_pass)

In [25]:
# save_tree
tree.export_graphviz(t, out_file=None, label="all",impurity=False,proportion=True,
                 feature_names=list(d_train_fail),class_names=['fail','pass'], filled=True,rounded=True)

'digraph Tree {\nnode [shape=box, style="filled, rounded", color="black", fontname="helvetica"] ;\nedge [fontname="helvetica"] ;\n0 [label="failures <= 0.5\\nsamples = 100.0%\\nvalue = [0.488, 0.512]\\nclass = pass", fillcolor="#f6fafe"] ;\n1 [label="higher_yes <= 0.5\\nsamples = 84.6%\\nvalue = [0.407, 0.593]\\nclass = pass", fillcolor="#c1e0f7"] ;\n0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;\n2 [label="famsup_yes <= 0.5\\nsamples = 5.6%\\nvalue = [0.929, 0.071]\\nclass = fail", fillcolor="#e78b48"] ;\n1 -> 2 ;\n3 [label="Medu <= 2.5\\nsamples = 2.6%\\nvalue = [0.846, 0.154]\\nclass = fail", fillcolor="#ea985d"] ;\n2 -> 3 ;\n4 [label="Dalc <= 2.5\\nsamples = 2.4%\\nvalue = [0.917, 0.083]\\nclass = fail", fillcolor="#e78c4b"] ;\n3 -> 4 ;\n5 [label="samples = 1.8%\\nvalue = [1.0, 0.0]\\nclass = fail", fillcolor="#e58139"] ;\n4 -> 5 ;\n6 [label="samples = 0.6%\\nvalue = [0.667, 0.333]\\nclass = fail", fillcolor="#f2c09c"] ;\n4 -> 6 ;\n7 [label="samples = 0.2%\\nvalue = [0.0, 1.0]\\nclass = pass", fillcolor="#399de5"] ;\n3 -> 7 ;\n8 [label="samples = 3.0%\\nvalue = [1.0, 0.0]\\nclass = fail", fillcolor="#e58139"] ;\n2 -> 8 ;\n9 [label="school_GP <= 0.5\\nsamples = 79.0%\\nvalue = [0.37, 0.63]\\nclass = pass", fillcolor="#add6f4"] ;\n1 -> 9 ;\n10 [label="absences <= 3.5\\nsamples = 22.4%\\nvalue = [0.545, 0.455]\\nclass = fail", fillcolor="#fbeadf"] ;\n9 -> 10 ;\n11 [label="Fedu <= 1.5\\nsamples = 15.0%\\nvalue = [0.427, 0.573]\\nclass = pass", fillcolor="#cce6f8"] ;\n10 -> 11 ;\n12 [label="samples = 5.2%\\nvalue = [0.615, 0.385]\\nclass = fail", fillcolor="#f5d0b5"] ;\n11 -> 12 ;\n13 [label="samples = 9.8%\\nvalue = [0.327, 0.673]\\nclass = pass", fillcolor="#99cdf2"] ;\n11 -> 13 ;\n14 [label="Walc <= 1.5\\nsamples = 7.4%\\nvalue = [0.784, 0.216]\\nclass = fail", fillcolor="#eca470"] ;\n10 -> 14 ;\n15 [label="samples = 1.8%\\nvalue = [0.444, 0.556]\\nclass = pass", fillcolor="#d7ebfa"] ;\n14 -> 15 ;\n16 [label="samples = 5.6%\\nvalue = [0.893, 0.107]\\nclass = fail", fillcolor="#e89051"] ;\n14 -> 16 ;\n17 [label="Walc <= 3.5\\nsamples = 56.6%\\nvalue = [0.3, 0.7]\\nclass = pass", fillcolor="#8ec7f0"] ;\n9 -> 17 ;\n18 [label="schoolsup_no <= 0.5\\nsamples = 47.2%\\nvalue = [0.254, 0.746]\\nclass = pass", fillcolor="#7cbeee"] ;\n17 -> 18 ;\n19 [label="samples = 6.2%\\nvalue = [0.484, 0.516]\\nclass = pass", fillcolor="#f3f9fd"] ;\n18 -> 19 ;\n20 [label="samples = 41.0%\\nvalue = [0.22, 0.78]\\nclass = pass", fillcolor="#71b9ec"] ;\n18 -> 20 ;\n21 [label="paid_yes <= 0.5\\nsamples = 9.4%\\nvalue = [0.532, 0.468]\\nclass = fail", fillcolor="#fcf0e7"] ;\n17 -> 21 ;\n22 [label="samples = 8.6%\\nvalue = [0.488, 0.512]\\nclass = pass", fillcolor="#f6fbfe"] ;\n21 -> 22 ;\n23 [label="samples = 0.8%\\nvalue = [1.0, 0.0]\\nclass = fail", fillcolor="#e58139"] ;\n21 -> 23 ;\n24 [label="internet_no <= 0.5\\nsamples = 15.4%\\nvalue = [0.935, 0.065]\\nclass = fail", fillcolor="#e78a47"] ;\n0 -> 24 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;\n25 [label="freetime <= 1.5\\nsamples = 10.6%\\nvalue = [0.981, 0.019]\\nclass = fail", fillcolor="#e6833d"] ;\n24 -> 25 ;\n26 [label="absences <= 9.0\\nsamples = 0.8%\\nvalue = [0.75, 0.25]\\nclass = fail", fillcolor="#eeab7b"] ;\n25 -> 26 ;\n27 [label="samples = 0.2%\\nvalue = [0.0, 1.0]\\nclass = pass", fillcolor="#399de5"] ;\n26 -> 27 ;\n28 [label="samples = 0.6%\\nvalue = [1.0, 0.0]\\nclass = fail", fillcolor="#e58139"] ;\n26 -> 28 ;\n29 [label="samples = 9.8%\\nvalue = [1.0, 0.0]\\nclass = fail", fillcolor="#e58139"] ;\n25 -> 29 ;\n30 [label="famrel <= 3.5\\nsamples = 4.8%\\nvalue = [0.833, 0.167]\\nclass = fail", fillcolor="#ea9a61"] ;\n24 -> 30 ;\n31 [label="samples = 2.0%\\nvalue = [1.0, 0.0]\\nclass = fail", fillcolor="#e58139"] ;\n30 -> 31 ;\n32 [label="guardian_other <= 0.5\\nsamples = 2.8%\\nvalue = [0.714, 0.286]\\nclass = fail", fillcolor="#efb388"] ;\n30 -> 32 ;\n33 [label="age <= 16.5\\nsamples = 2.4%\\nvalue = [0.833, 0.167]\\nclass = fail", fillcolor="#ea9a61"] ;\n32 -> 33 ;\n34 [label="samples = 0.8%\\nvalue = [0.5, 0.5]\\nclass = fail", fillcolor="#ffffff"] ;\n33 -> 34 ;\n35 [label="samples = 1.6%\\nvalue = [1.0, 0.0]\\nclass = fail", fillcolor="#e58139"] ;\n33 -> 35 ;\n36 [label="samples = 0.4%\\nvalue = [0.0, 1.0]\\nclass = pass", fillcolor="#399de5"] ;\n32 -> 36 ;\n}'